* {
    margin: 0;
    padding: 0;
    font-family: Unbounded;
  

}
.turkuaz {
    background-color: #004F4D;
}

.fume {
    background-color: #1F2024;
}

.antrasit {
    background-color: #4B4952;
}

.silver {
    background-color: #79717A;
}

.lila {
    background-color: #A68F97;
}
html, body {
    height:100%;
    background-image: url('../images/GirisSayfasi.png');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    
    margin-left:auto;
    margin-right:auto;
    border:1px solid white;
    width:500px;
    height:100%;
    opacity:0.9;
}

.row{
    margin-top:15px;
    text-align:center;
}
.inputBox{
    padding:5px;
    border:none;
    border-radius:10px;
    width:300px;
    height:25px;
}
.LinkButonGiris{
    color:white;
    padding: 10px;
    text-decoration: none;
    background-color:#004f4f;
    border-radius:15px;
}
.LinkButonGiris:hover{
   color:blue;
}
.girisImg
{
    margin-top:100px;
    width:250px;
}