.homePage {
    height: 100%;
    background-color: #d57ac2;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

    .homePage img {
        width: 400px;
    }

.EkleContainer {
    background-color: #00ff90;
    height: 100%;
}

.inputBox {
    background-color: antiquewhite;
    border-radius: 5px;
    height: 40px;
    margin-top: 15px;
    width: 300px;
}

.row {
    padding: 10px;
    text-align:center;
}

.EkleBtn {
    border-radius: 5px;
    background-color: #0d0909;
    color: white;
    text-decoration: none;
    padding: 10px;
}

    .EkleBtn:hover {
        color: red;
    }

.titleHeader h1 {
    text-align: center;
    padding-top: 10px;
}

.basarili {
    margin: 15px auto;
    border: 1px solid #3e48ba;
    background-color: #3e48ba;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 295px;
    padding: 7px;
    border: 1px solid #820f0f;
    border-radius: 5px;
}

.basarisiz {
    border-radius: 5px;
    padding: 7px;
    margin: 15px auto;
    justify-content: center;
    display: flex;
    width: 295px;
    border: 1px solid #820f0f;
    background-color: red;
}

.row .resimEkle{
    width:300px;
    
}
.row label {
    margin-left:-200px;
}
.OnayBtn {
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
}
.RedBtn {
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius:5px;
}
.onayBekleyenler {
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    background-color: rosybrown;
    color: white;
    border: 1px solid rosybrown;
    border-radius: 5px;
}
.coinDelist{
    
}

.TalepList {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.TalepTable {
    background-color: silver;
    
    
}
.TalepTable th{
    padding:5px;
}

.TalepTable td {
    padding: 10px;
}
.btnlar{
    text-align:center;
    padding:15px;
}
.delistBtn {
    padding: 5px;
    text-decoration: none;
    margin-left: 15px;
    background-color: #b72f2f;
    color: white;
    border-radius: 5px;
}
.delistBtn:hover{
    color:aqua;
}


